<div class="top">
<div id="top" class="hero background-overlay">

  <!-- Name & Description -->
  <div class="hero-content">
    <h1>I am <span id="name"><span style="font-size:80px;">S</span>aidy</span></h1>
    <p class="hero-job"><span>I'M A CREATIVE WEB DEVELOPER</span></p>
    <p class="hero-job-desc">I am from Jammu and kashmir completed my <strong>Bachelor's In Computer Aplication(BCA) </strong>degree from <strong>Iqbal Institute of
     Technology and Management</strong>.I am certified <strong>Full Stack Web Developer </strong>. I have worked as intern in <strong>Code Today</strong>
     also got certifed there as a full stack web developer.Currently I am working as a Junior web developer in <strong>Alrawdah Technology</strong>.
    For both the companies I have made number of web applications.Also I have got some basic knowledge of <strong>UI/UX</strong> designing.
    </p>

  </div><!-- /.hero-content -->


</div>
</div><!-- /.hero -->
<!-- End Hero -->
