@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.top{
  background: url(../../assets/images/homebg.jpg) center no-repeat;
  height: 860px;
}


#name{
  font-family: 'Great Vibes', cursive;
	color: gold;
}
strong{
	color: gold;

}
.hero {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  /* background-size: cover;*/
}

.background-overlay:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hero-content h1 {
  width: 100%;
  padding: 0 15px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  /* text-transform: uppercase; */
}

.hero-content p {
  padding: 0 15px;
  margin: 30px auto 0;
  text-align: center;
  font-family: 'Abel', sans-serif;
  /* text-transform: uppercase; */
}

.hero-content .hero-job {
  font-size: 18px;
}

.hero-content .hero-job span {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
}

.hero-content .hero-job-desc {
  font-size: 22px;
  max-width: 800px;
}
media only screen and (max-width: 767px) {
  /* HEADER */
  /* HERO */
  .hero-content h1 {
    font-size: 32px;
  }
  .hero-content p {
    margin: 20px auto 0;
  }
}

/* SITEMAIN
================================================== */
.site-main {
  background-color: #ffffff;
  z-index: 1;
}

/*
 * Sections
 */
.site-section {
  padding: 100px 0;
}

.site-section h2 {
  font-family: "Varela", sans-serif;
  margin: 0;
  font-size: 32px;
  color: #196fc2;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle span {
  position: relative;
}

.section-subtitle span:before, .section-subtitle span:after {
  display: inline-block;
  content: '';
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.section-subtitle span:before {
  left: -30px;
}

.section-subtitle span:after {
  right: -30px;
}

.section-diff-title h2 {
  margin: 0;
  font-weight: 300;
  color: #666;
}

.section-diff-title p {
  position: relative;
  font-family: "Varela", sans-serif;
  margin: 60px 0 0;
}

.section-diff-title p:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 50px;
  background-color: #666;
}

@media only screen and (max-width: 991px) {
  /* Sections */
  .site-section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 767px) {
  /* Sections */
  .site-section {
    padding: 60px 0;
  }
  .site-section h2 {
    font-size: 24px;
  }
  .section-subtitle span {
    display: inline-block;
    max-width: 230px;
    font-size: 14px;
  }
}

/* Section: Hello */
.section-hello .row {
  margin-top: 70px;
}

.section-hello .col-sm-4 {
  min-height: 325px;
}

.main-service {
  position: relative;
  padding: 35px 0;
  min-height: 180px;
}

.main-service .rectangle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
}

.main-service.text-right {
  padding-right: 90px;
}

.main-service.text-left {
  padding-left: 90px;
}

.main-service.text-left .rectangle {
  right: auto;
  left: 5px;
}

.main-service h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-service p {
  margin: 25px 0 0;
  font-size: 12px;
}

@media only screen and (max-width: 1199px) {
  /* Section: Hello */
  .main-service {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 991px) {
  /* Section: Hello */
  .big-rectangle {
    height: 170px;
    width: 170px;
  }
  .main-service {
    padding: 20px 0;
  }
  .main-service h3 {
    font-size: 14px;
  }
  .main-service.text-right {
    padding-right: 75px;
  }
  .main-service.text-left {
    padding-left: 75px;
  }
}

@media only screen and (max-width: 767px) {
  /* Section: Hello */
  .section-hello .row {
    margin-top: 30px;
  }
  .section-hello .col-sm-4 {
    min-height: 240px;
  }
  .section-hello .main-service {
    min-height: 100%;
  }
  .section-hello .main-service p {
    margin-top: 15px;
  }
}
